<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ contactName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content class="chat-content">
  <div class="messages">
    <div
      class="message"
      *ngFor="let msg of messages"
      [class.outgoing]="msg.fromSelf"
    >
      <div class="bubble">
        <div class="content">{{ msg.content }}</div>
        <div class="timestamp">{{ msg.time }}</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="chat-footer">
  <ion-toolbar>
    <ion-item lines="none" class="input-area">
      <ion-input
        [(ngModel)]="input"
        placeholder="Type a message..."
        class="chat-input"
        clearInput
      ></ion-input>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="primary" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>

