<ion-header class="lithium-header">
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" [routerLink]="['/', 'chat']">
      <ion-avatar slot="start">
        <img [src]="'https://api.dicebear.com/6.x/personas/svg?seed=' + contact.name" />
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p>{{ contact.lastMessage }}</p>
      </ion-label>
      <span slot="end">{{ contact.time }}</span>
    </ion-item>
  </ion-list>
</ion-content>
