/* Desktop/Web-specific override */
@media (min-width: 768px) {
  .lithium-header ion-toolbar {
    --box-shadow: none;
    --border-width: 0 0 1px 0;
    --border-color: rgba(0, 0, 0, 0.08);
  }
}

.item-native {
  background: #F2F2F7 !important;
}
